<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete">Remove Event</a>
</p>

@if (@ViewBag.events.Count  == 0)
{
    <p>No Events yet!</p>
}
else
{
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>

    </tr>

    @foreach (Event thing in ViewBag.events)
    {
<tr>
    <td>@thing.Id</td>
    <td>@thing.Name</td>
    <td>@thing.Description</td>
    <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@thing.Id">Edit Event</a></td>
</tr>
     }
        
    </table>
}
